@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  /*Para el estilo de la letra*/
  font-family: "Roboto", sans-serif;
}

:root{
  --primaryColor:rgb(45, 174, 108);
  --secondaryColor:#004C4C;
  --mainColor:#effff5;
  --mainColor2:#ffff;
  --colorLetra:#1fa874;
}

body{
  background-color: var(--primaryColor);
}

.encabezado{
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--primaryColor);
  text-align: center;
  color: white;
  /*Arriba derecha abajo izquierda - si tiene 4 valores el shorthand*/
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
/*Solo para ajustar los laterales y posicionar .cuerpo*/
.superbody{
  padding: 20px 6% 5% 6%;
  height: 800px;
}
/*main*/
.cuerpo{
  position: relative;
  width: 100%;
  height: 760px;
  background-color: var(--mainColor);
  box-shadow: 0px 50px 70px #126e4b;
}
/*sidebar*/
nav{
  position: absolute;
  top: 0;
  display: inline-block;
  width: 90px;
  height: 100%;
  background-color: var(--secondaryColor);
}

.sidebarIcono::before{
  position: absolute;
  font-family: 'Material Icons';
  content: '\e88a';
  font-size: 3rem;
  color: white;
  top: 25px;
  left: 20px;
}

.iconossidebar{
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 4px;
  height: 50%;
}
.imgSide{
  margin-bottom: 40px;
}

/*nav del main content*/
.opciones{
  padding-left: 7.6%;
  display: inline-block;
  background-color: var(--mainColor);
  width: 100%;
  height: 100px;
}

.texto{
  display: inline-block;
  background-color: var(--mainColor);
  text-align: center;
  line-height: 105px;
  width: 150px;
  height: 100%;
  margin: 0px 2%;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--secondaryColor);
  z-index: 1;
}
/*Icono para el numero*/
.telefono::before{
  position: absolute;
  top:1px;
  left: 36px;
  font-family: 'Material Icons';
  content: '\e0b0';
  color: var(--primaryColor);
}
/*Zona de telefono*/
.telefono{
  display: inline-block;
  position: absolute;
  right: 5%;
  width: 350px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  background-color: var(--mainColor);
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--primaryColor);
  z-index: 0;
}
/*Div donde este la imagen y formulario*/
.main{
  position: absolute;
  margin-left: 12%;
  margin-top: 5px;
  margin-right: 1%;
  width: 82%;
  height: 80%;
  background-color: var(--mainColor2);
  box-shadow: 10px 10px 100px #c5c4c4;
}
/*Imagen*/
.dentista{
  position: absolute;
  width: 770px;
  height: 100%;
  background-image: linear-gradient(180deg, #004c4ccf, #004c4cd3), url(dentadura.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 50px 20px 50px;
} 
/*Textos*/
.textoMain>h1,h1>p{
  color: white;
  font-size: 4rem;
}
h1>p{
  color: var(--colorLetra);
}
h1~p{
  color: white;
  line-height: 30px;
}

/*Botones*/
.boton{
  padding-right:10px;
  position: relative;
  font-weight: bold;
  color: var(--colorLetra);
  text-align: center;
  display: inline-block;
  height: 35px;
  width: 150px;
  border-radius: 20px;
  line-height: 32px;
  margin: 10px 30px 0px 0px;
  background-color: none; /*#26ce8d*/
  border: 2px solid var(--colorLetra);
}
.boton::after{
  position: absolute;
  right: 10px;
  font-size: 1.5rem;
  font-family: 'Material Icons';
  content: "\e1c4";
}
.boton:hover{
  background-color: var(--colorLetra);
  color: white;
}

/*Puntos*/
.containerBotones{
  margin-top: 15px;
  text-align: center;
}
.puntos{
  display: inline-block;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: 0px 8px;
  background-color: rgba(128, 128, 128, 0.488);
  cursor: pointer;
}
.puntos:active{
  background-color:white;
}